*{
	margin:  0;
	padding: 0;
	font-family: Century G ;	
}

.Nav
{
	background-color:#ddddbb;
	padding: 30px 10px;
	height: 10vh;
	background-position: center;
	margin:auto;
}

.Nav ul
{
	float: right;
	list-style-type: none;
	margin-top:20px;
	margin-right:50px;
}

.Nav ul li
{
	display:inline-block;
	padding:4px;
}

.Nav ul li a
{
	color:black;
	text-align: center;
	padding:5px 30px;
	text-decoration:none;
	font-size: 18px;
	line-height: 15px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.Nav a:hover{
	background-color:#ffa64d;
	color:#fff;
}

.Nav ul li.active a{
	background-color:#ffa64d;
	color:#fff;
}

.logo img
{
	float:left;
	margin-top:-4.2vh;
	width:200px;
	height:115px;
	margin-left:50px;
}
.logo-text{
	float: left;
	width:250px;
	text-align:center;
	margin-left:0px;
	margin-top:5px;
	color:#000080;
}
.logo-text h2{
	color:#990000;
	font-weight:850;
	font-size: 36px;
}
/*====================festivals==================*/

/*===================footer=====================*/
.footer:after {
  content: "";
  display: table;
  clear: both;
}
.footer{
	background-color:#ffa64d;
	padding:30px;
	margin-top:0px;
}
.footer-logo{
	float:left;
	margin-left:140px;
	margin-top:10px;
	padding-top:10px;
}
.info{
	float:left;
	margin-left:120px;
	width:300px;
	padding-top:10px;
	font-size:18px;
}
.info p{
	padding-right:10px;
	padding-top:5px;
	color:#404040;
	line-height: 1.4;
}

.contact{
	float:left;
	margin-left:150px;
	width:300px;
	height:150px;
	background-color:#ffa64d;
	font-size:17px;
	margin-top:10px;
}
.contact p ul li{
	text-align:center;
	padding:10px 10px;
	color:#404040;
	line-height: 1.8;
}

