*{
	margin:  0;
	padding: 0;
	font-family: Century G ;	
}

.Nav
{
	background-color:#ddddbb;
	padding: 30px 10px;
	height: 10vh;
	background-position: center;
	margin:auto;
}

.Nav ul
{
	float: right;
	list-style-type: none;
	margin-top:20px;
	margin-right:50px;
}

.Nav ul li
{
	display:inline-block;
	padding:4px;
}

.Nav ul li a
{
	color:black;
	text-align: center;
	padding:5px 30px;
	text-decoration:none;
	font-size: 18px;
	line-height: 15px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.Nav a:hover{
	background-color:#ffa64d;
	color:#fff;
}

.Nav ul li.active a{
	background-color:#ffa64d;
	color:#fff;
}

.logo img
{
	float:left;
	margin-top:-4.2vh;
	width:200px;
	height:115px;
	margin-left:50px;
}
.logo-text{
	float: left;
	width:250px;
	text-align:center;
	margin-left:0px;
	margin-top:5px;
	color:#000080;
}
.logo-text h2{
	color:#990000;
	font-weight:850;
	font-size: 36px;
}

.center-video{
	text-align:center;
	font-size:20px;
	color:#990000;
	font-weight:600;
}
.center-video video
{
	height:90vh;
	margin-left:3.5vh;
	margin-right:3vh;
}

.content1 h1{
	font-weight:800;
}
.content1 {
	background-color:#ffff;
	text-align:center;
	padding: 50px 200px;
	font-size:20px;
	line-height:1.6;
}

.block{
  height:210vh;
  margin-left:12px;
  float:center;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


.section:after {
  content: "";
  display: table;
  clear: both;
}
.section{
	background-color:#ccccb3;
	padding-top:20px;
	padding-bottom:20px;
	height: 65vh;
}
.section h2{
	text-align:center;
	font-weight:800;
}
.section1 {
  float: left;
  width: 30%;
  padding: 20px 10px;
  cursor: pointer;
  margin-left: 200px;
}

.section1 ul li{
	text-align:left;
	line-height:1.6;
	font-size: 20px;
	color:black;
}

.vl {
  border-left: 1px solid grey;
  height: 350px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  margin-top:10px;
}

.section2 {
  float: right;
  width: 30%;
  padding: 20px 10px;
  cursor: pointer;
  margin-right: 200px;
}

.section2 ul li{
	text-align:left;
	font-size: 20px;
	line-height:1.6;
	color:black;
}

.SInfo
{
	background-color:;
	padding:30px;
	margin-top:0px;
	line-height:1.6;
	height:65vh;
}
.SInfo h2
{
	text-align:center;
	font-weight:800;
}

.Sec1{
	float:left;
	margin-left:90px;
	width:250px;
	padding-top:10px;
	font-size:20px;
}
.Sec2{
	float:left;
	margin-left:10px;
	width:250px;
	padding-top:10px;
	font-size:20px;
}
.Sec3{
	float:left;
	margin-left:10px;
	width:250px;
	padding-top:10px;
	font-size:20px;
}
.vl2 {
  border-left: 1px solid black;
  height: 320px;
  position: absolute;
  left: 61%;
  margin-left: -3px;
  margin-top:10px;
}
.Sec4{
	float:left;
	margin-left:10px;
	width:350px;
	padding-top:10px;
	font-size:20px;
}

/*===================footer=====================*/
.footer:after {
  content: "";
  display: table;
  clear: both;
}
.footer{
	background-color:#ffa64d;
	padding:30px;
	margin-top:0px;
}
.footer-logo{
	float:left;
	margin-left:140px;
	margin-top:10px;
	padding-top:10px;
}
.info{
	float:left;
	margin-left:120px;
	width:300px;
	padding-top:10px;
	font-size:18px;
}
.info p{
	padding-right:10px;
	padding-top:5px;
	color:#404040;
	line-height: 1.4;
}

.contact{
	float:left;
	margin-left:150px;
	width:300px;
	height:150px;
	background-color:#ffa64d;
	font-size:17px;
	margin-top:10px;
}
.contact p ul li{
	text-align:center;
	padding:10px 10px;
	color:#404040;
	line-height: 1.8;
}