*{
	margin:  0;
	padding: 0;
	font-family: Century G ;	
}

.Nav
{
	background-color: #fff;
	padding: 30px 10px;
	height: 10vh;
	background-position: center;
	margin:auto;
	max-width:1200px;
}

.Nav ul
{
	float: right;
	list-style-type: none;
	margin-top:20px;
	
}

.Nav ul li
{
	display:inline-block;
	padding:4px;
}

.Nav ul li a
{
	text-decoration:none;
	color:#fff;
	padding:5px 30px;
	border: 1px solid #ffa64d;
	background-color: #ffa64d;
	transition: 0.6s ease;
	font-size: 18px;
}

.Nav a:hover{
	background-color:#ffff;
	color:#000;
}

.Nav ul li.active a{
	background-color:#ffff;
	color:#000;
	border: 1px solid #00cc00;
}

.logo img
{
	float:left;
	margin-top:-5vh;
	width:200px;
	height:120px;
	
}